/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

/* Awal Css Header Sahrul */
.container {
	padding: 0 30px;
}

header {
	/* height: 65px; */
	width: 100%;
	background-color: rgba(3, 53, 119, 0.9);
	position: fixed;
	top: 0;
	z-index: 10;
}

span.menu-icon {
	display: none;
	color: white;
	float: right;
	font-size: 25px;
	padding: 21px 0;
}

.logo {
	width: 130px;
	margin-top: 20px;
}

.header-left {
	float: left;
}

.header-right {
	float: right;
	margin-right: -25px;
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: white;
	/* display: block; */
	float: left;
	transition: all 0.5s;
}

.header-right a:hover {

	color: black;
}


.header-right a:active {
	color: rgb(238, 255, 0);
	text-decoration: underline;
}

/* Akhir Css Header Sahrul */


/* Awal Css Top-Wrapper Nova */
.container {
	width: 100%;
	margin: 0 auto;
}

.top-wrapper {
	background-color: white;
	padding: 50px 50px;
	display: flex;
	flex-wrap: wrap;
	color: navy;
	margin-top: 50px;
}

.top-left {
	width: 50%;
	height: auto;
	margin: auto;
}

.top-left h1 {
	font-size: 60px;
	font-family: "Courier New", Courier, monospace;
}

.top-left p {
	font-size: 20px;
	margin: 30px 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.top-right {
	width: 50%;
	max-height: auto;
	text-align: center;
}

.button-daftar {
	color: navy;
	display: inline-block;
	opacity: 0.8;
	border-radius: 10px;
	text-align: center;
	padding: 10px 20px;
	cursor: pointer;
	margin-right: 20px;
	border: 1px solid navy;
}

.white {
	background-color: white;
	box-shadow: 0 7px navy;
}

.yellow {
	background-color: yellow;
	box-shadow: 0 7px navy;
}

.button-daftar:hover {
	opacity: 1;
}

.button-daftar:active {
	position: relative;
	top: 7px;
	box-shadow: none;
}
/* Akhir Css Top-Wrapper Nova */

/* Awal CSS Rijalul */
.service{
	height: max-content;
	
}
.service .title h2{
    color: black;
	font-size: 50px;
	margin: 30px auto;
	text-align: center;
}

.box{
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card{
	height: max-content;
	width: 20%;
	padding: 20px 35px;
	background: #fff;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
    box-shadow:0px 0px 16px rgb(0, 0, 0,.1);
}

.card img{
    width: 30%;
    height: 25%;
    align-items: center;
    padding-top: 15px;
}
h5{
	color: black;
	font-size: 23px;
	margin-bottom: 10px;
    margin-top: 5px;
}

.pra p{
	color:grey;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}

.card .button{
	background-color:rgb(19, 83, 109);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}

.card .button:hover{
	background-color:rgb(70, 179, 223) ;
	border: 2px solid rgb(19, 83, 109);
	cursor: pointer;
}


/* Akhir CSS Rijalul */


/* AWAL CSS SAYYID */
.profile-tim {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0.5%;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	background-color: #f7f7f7;
}
.profile {
	padding: 5px 5px;
	margin: 2% 5px;
	border-radius: 10px;
	width: 19%;
	float: left;
	background-color: #f7f7f7;
	transition: all 1s;
	align-items: center;
}
.profile:hover {
	border: 1px solid #474747;
	box-shadow: 3px 7px #474747;
	background-color: #f7f7f7;
}
.heading-1 h1 {
	font-weight: normal;
	text-align: center;
}
.profile-icon {
	padding-bottom: 2%;
}
.profile-icon img {
	margin-top: 5px;
	height: 40px;
	width: 40px;
}
.profile-icon span {
	display: none;
}
.deskripsi  {
	text-align: left;
	width: 100%;
	font-size: 16px;
}
/* AKHIR CSS SAYYID */

/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

/* RAFLY STYLING START CODE */
footer {
	background-color: #151414;
	color: white;
}
.rex-footer {
	padding: 10px;
}

/* REX-CARD STYLING START */
.rex-card {
	background-color: #202020;
	padding: 20px;
	margin-bottom: 20px;
}

.rex-logo {
	text-align: center;
	padding-top: 15px;
}
.rex-desc p {
	font-size: 13px;
	margin-top: 20px;
}

.rex-sosmed {
	margin-top: 30px;
}
.rex-sosmed h2 {
	margin-bottom: 5px;
}

.rex-icon {
	display: grid;
	grid-template-columns: repeat(7, max-content);
	gap: 10px;
	margin: 5px 0 10px 0;
}

.rex-icon .bx {
	padding: 4px;
	border-radius: 5px;
	font-size: 17px;
	color: white;
	transition: all 0.2s ease-in;
}
.rex-icon .bx:hover {
	background-color: #151414;
}

.bxl-telegram {
	background-color: rgb(16, 175, 175);
}
.bxl-instagram {
	background-color: rgb(202, 46, 46);
}
.bxl-github {
	background-color: rgb(41, 40, 48);
}
.bxl-facebook {
	background-color: rgb(52, 40, 216);
}
.bxl-linkedin {
	background-color: rgb(27, 54, 209);
}
.bxl-youtube {
	background-color: rgb(231, 9, 9);
}
.bxl-twitter {
	background-color: rgb(15, 113, 143);
}
/* REX-CARD STYLING END */

/* REX-ABOUT-US STYLING START */
.rex-about-us h3 {
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(19, 187, 238);
}
.rex-address {
	display: grid;
	gap: 10px;
	padding: 5px;
}
.rex-address p {
	font-size: 11px;
	letter-spacing: 1px;
}
.rex-site,
.rex-telp {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.rex-site .bx,
.rex-telp .bx {
	font-size: 30px;
	margin-right: 10px;
}

.rex-team {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
	padding: 5px;
	margin: 10px auto;
}
.rex-team-list {
	display: grid;
	grid-template-columns: repeat(1, max-content);
	gap: 10px;
}
.rex-team a {
	color: rgb(116, 116, 116, 0.6);
	font-size: 14px;
	font-weight: 400;
}
.rex-team a:hover {
	color: rgb(116, 116, 116, 1);
}

.rex-subscribe {
	display: grid;
	gap: 10px;
}
.rex-subscribe p {
	font-size: 13px;
}
.rex-input-cont {
	margin-top: 10px;
	text-align: center;
}
.rex-input-cont .rex-input {
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.514);
}
.rex-input-cont .rex-btn-input {
	padding: 10px 20px;
	margin-top: 8px;
	border-radius: 10px;
	border: none;
	color: white;
	cursor: pointer;
	outline: none;
	background-color: rgb(19, 187, 238);
}

/* REX-ABOUT-US STYLING END */

/* REX-COPYRIGHT STYLING START */
.rex-copyright {
	background-color: #202020;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10px;
}
.rex-copy-menu {
	display: grid;
	grid-template-columns: repeat(5, max-content);
	gap: 10px;
	margin-bottom: 5px;
}
.rex-copy-menu a {
	color: rgb(116, 116, 116, 0.6);
	font-size: 13px;
	font-weight: 500;
}
.rex-copy-menu a:hover {
	color: rgb(116, 116, 116, 1);
}
.rex-copy-team p {
	letter-spacing: 1px;
	font-size: 12px;
}
/* REX-COPYRIGHT STYLING END */
/* RAFLY STYLING END CODE */
