/* Google Font Import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}




/* Awal Css Top-Wrapper Nova */
a {
    text-decoration: none;
}


.container {
    width: 100%;
    margin: 0 auto;
}

.top-wrapper {
    background-color: white;
    padding: 50px 50px;
    Display: flex;
    flex-wrap: wrap;
    color: navy;
    margin-top: 50px
}


.top-left {
    width: 50%;
    height: auto;
    margin: auto;
}

.top-left h1 {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.top-left p {
    font-size: 20px;
    margin: 30px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-right {
    width: 50%;
    max-height: auto;
    text-align: center;
}


.button-daftar {
    color: navy;
    display: inline-block;
    opacity: 0.8;
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 20px;
    border: 1px solid navy;
}

.white {
    background-color: white;
    box-shadow: 0 7px navy;
}

.yellow {
    background-color: yellow;
    box-shadow: 0 7px navy;
}

.button-daftar:hover {
    opacity: 1;
}

.button-daftar:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

/* Akhir Css Top-Wrapper Nova */

/* Tampilan Tablet*/
@media all and (max-width: 1000px) {
    .top-left h1 {
        font-size: 40px;
    }
    
    .top-left p {
        font-size: 16px;
    }

    .top-right img {
        width: 320px;
    }
    
    .button-daftar {
        padding: 8px 18px;
        font-size: 12px;
    }
}



/* Tampilan Smartphone */
@media all and (max-width: 670px) {
    .top-left{
        width: 100%;
        text-align: center;
    }

    .top-right{
        margin-top: 50px;
        width: 100%;
    }

    .top-left h1 {
        font-size: 36px;
    }
    
    .top-left p {
        font-size: 11px;
    }

    .top-right img {
        width: 200px;
    }
}
/* Akhir Css Top-Wrapper Nova */














/* Css Sayyid */
.message-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-left: 2%;
    	width: 100%;
    	height: 300px;
    	border-bottom: 1px solid #eee;
    	padding-bottom: 80px;
    	text-align: center;
    	font-family: 'Times New Roman', Times, serif;
    	background-color: #f7f7f7;
}
.profile {
    	margin-top: 30px;
    	border-radius: 10px;
    	width: 19%;
    	float: left;
    	margin: 4px;
    	background-color: #f7f7f7;
    	transition: all 1s;
    	margin-bottom: 20px;  
}
.profile:hover {
    	border: 1px solid #474747;
    	box-shadow: 3px 7px #474747;
    	background-color: #f7f7f7;
    	color: #000000;
}
.heading-1 h1{
    	font-weight: normal;
}
.profile-icon img{
    	margin-top: 5px;
    	height: 40px;
    	width: 40px;
}
.profile p {
    	text-align: center;
     	width: 100%;
	font-size: 16px;
}

@media (max-width: 1000px){
/* Coding Css Responsive Sayyid */
.message-wrapper {
	height: 100%;
	width: 100%;
	}
.profile {
	width: 45%;
	margin-bottom: 20px;  
}
.profile p{
	font-size: 12px;
}
/* Akhir Css Responsive Sayyid */
}
@media (max-width: 670px){
	/* Coding Css Responsive Sayyid */
.message-wrapper {
    	width: 100%;
	height: 100%;
    }
.profile {
	width: 70%;
	margin-left: 15%;
	font-size: 10px;
  }
/* Akhir Css Responsive Sayyid */
}
/* Akhir Css Sayyid */







/* Rafly Start Styling Code */
footer {
	background-color: #151414;
	color: white;
}
.rex-footer {
	padding: 10px;
}

/* REX-CARD STYLING START */
.rex-card {
	background-color: #202020;
	padding: 20px;
	margin-bottom: 20px;
}

.rex-logo {
	text-align: center;
	padding-top: 15px;
}
.rex-desc p {
	font-size: 13px;
	margin-top: 20px;
}

.rex-sosmed {
	margin-top: 30px;
}
.rex-sosmed h2 {
	margin-bottom: 15px;
}

.rex-icon {
	display: grid;
	grid-template-columns: repeat(7, max-content);
	gap: 10px;
	margin: 5px 0 10px 0;
}

.rex-icon .bx {
	padding: 4px;
	border-radius: 5px;
	font-size: 17px;
	color: white;
	transition: all 0.2s ease-in;
}
.rex-icon .bx:hover {
	background-color: #151414;
}

.bxl-telegram {
	background-color: rgb(16, 175, 175);
}
.bxl-instagram {
	background-color: rgb(202, 46, 46);
}
.bxl-github {
	background-color: rgb(41, 40, 48);
}
.bxl-facebook {
	background-color: rgb(52, 40, 216);
}
.bxl-linkedin {
	background-color: rgb(27, 54, 209);
}
.bxl-youtube {
	background-color: rgb(231, 9, 9);
}
.bxl-twitter {
	background-color: rgb(15, 113, 143);
}
/* REX-CARD STYLING END */

/* REX-ABOUT-US STYLING START */
.rex-about-us h3 {
	padding-bottom: 5px;
	border-bottom: 2px solid rgb(19, 187, 238);
}
.rex-address {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
	grid-column: 1 / 3;
	padding: 5px;
}
.rex-address p {
	font-size: 11px;
	letter-spacing: 1px;
}
.rex-site {
	display: flex;
	justify-content: flex-start;
}
.rex-telp {
	display: flex;
	justify-content: flex-start;
}
.rex-site-icon .bx,
.rex-telp-icon .bx {
	font-size: 30px;
	margin-right: 10px;
}

.rex-team {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
	padding: 5px;
	margin: 20px auto;
}
.rex-team-list {
	display: grid;
	grid-template-columns: repeat(1, max-content);
	gap: 10px;
}
.rex-team a {
	color: rgb(116, 116, 116, 0.6);
	font-size: 14px;
	font-weight: 400;
}
.rex-team a:hover {
	color: rgb(116, 116, 116, 1);
}

.rex-subscribe {
	display: grid;
	gap: 10px;
	margin-bottom: 15px;
}
.rex-subscribe p {
	font-size: 13px;
}
.rex-subscribe .rex-input {
	padding: 10px;
	border-radius: 50px;
	border: none;
	width: 100%;
}
.rex-input-cont {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 10px;
}
.rex-input-cont .rex-input {
	border: none;
}
.rex-input-cont .bx {
	font-size: 18px;
	color: white;
}
.rex-btn-input {
	position: absolute;
	background-color: rgb(19, 187, 238);
	top: 0;
	right: 0;
	border-radius: 0 50px 50px 0;
	padding: 11px;
	cursor: pointer;
	border: none;
}
/* REX-ABOUT-US STYLING END */

/* REX-COPYRIGHT STYLING START */
.rex-copyright {
	background-color: #202020;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10px;
}
.rex-copy-menu {
	display: grid;
	grid-template-columns: repeat(5, max-content);
	gap: 10px;
}
.rex-copy-menu a {
	color: rgb(116, 116, 116, 0.6);
	font-size: 13px;
	font-weight: 500;
}
.rex-copy-menu a:hover {
	color: rgb(116, 116, 116, 1);
}
.rex-copy-team p {
	letter-spacing: 1px;
	font-size: 12px;
}
/* REX-COPYRIGHT STYLING END */
/* Rafly End Styling Code */
